    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    * {
        font-family: 'Outfit', sans-serif;
    }
    
     :root {
        --color-primary: #2563eb;
        --color-secondary: #1f58d8;
        --color-light: #f1f5f9;
        --color-background: #c4c7d2;
    }